<!DOCTYPE html>
<html>
<head>
    <title>HOME PAGE</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    
</head>
<body>
    <h1>TIME</h1>
    <p>Person of the Year</p>
    <p>Filter by Year</p>
    <div>
        <form method="post">
            <label name="startYear">StartYear</label>
            <input min="1927" max="2016" name="startYear" type="number" />

            <label name="endYear">EndYear</label>
            <input min="1927" max="2016" name="endYear" type="number" />

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>